@model List<Nolan.HK.Application.Contracts.Dtos.TimeSheetDto>
<div>
    <h5>Current User：@ViewBag.UserName</h5>
    <p style="float: right">
    </p>
</div>
<br />
<form action="@Url.Action("Create")">
    <div class="form-group">
        @if (ViewBag.UserType == "0")
        {
            <input type="button" id="Create" class="btn btn-primary" value="Create" />
            <input value="2022-W25" type="week" id="week" class="btn btn-primary" />
            <input style="margin-left: 10px; margin-right: 10px; float: right; width: 180px " type="submit" id="submit" value="Submit" class="btn btn-primary" />
        }
    </div>
    @Html.DropDownList("database-dropdownlist", ViewBag.database as IEnumerable<SelectListItem>, new { @id = "tempSel", @class = "btn btn-success dropdown-toggle form-control display", @style = "display:none" })
    <table class="table" id="timecard">
        <tbody>
            @foreach (var timeSheet in Model)
            {
                <tr>
                    @if (ViewBag.UserType == "1")
                    {
                        <td style="vertical-align: bottom; width: 100px">
                            <h5>@timeSheet.UserName</h5>
                        </td>
                        <td style="vertical-align: bottom; width: 200px">
                            <h5>@timeSheet.ProjectName</h5>
                        </td>
                    }
                    else
                    {
                        <td style="vertical-align: bottom; width: 200px">
                            @Html.DropDownList("database-dropdownlist", ViewBag.database as IEnumerable<SelectListItem>, new { @selected = timeSheet.ProjectID, @class = "btn btn-success dropdown-toggle form-control display", })
                        </td>
                    }
                    @foreach (var item in timeSheet.ListTimeSheetDetails)
                    {
                        <td disabled="disabled">

                            <div>@Html.DisplayFor(modelItem => item.Date)</div>
                            <p>@Html.DisplayFor(modelItem => item.Weekday)</p>
                            <input type='text' name='TimesheetCount' class='form-control' value=@Html.DisplayFor(modelItem => item.TimesheetCount) />
                        </td>
                    }
                    @if (ViewBag.UserType == "1" && timeSheet.ApproveStatusEnum == 0)
                    {
                        <td style="vertical-align: bottom; width: 100px">
                            <a asp-action="Delete" class="btn btn-primary" asp-route-id="@timeSheet.Id">Delete</a>
                        </td>
                        <td style="vertical-align: bottom; width: 100px">
                            <a asp-action="AuditTimeCard" class="btn btn-primary" asp-route-id="@timeSheet.Id">Approve</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        function DateRange(value) {
            var startDate = "";
            var year, week, date;
            var month;
            var s_month = ["04", "06", "09", "11"];
            var b_month = ["01", "03", "05", "07", "08", "10", "12"];
            if ((/^(\d{4}-\d{2})$/).test(value)) { 				 
                year = parseInt(value.substring(0, 4));
                month = value.substring(5, 7);
                startDate = year + "-" + month + "-" + "01";
                if (s_month.indexOf(month) > -1) {  
                    endDate = year + "-" + month + "-" + "30";
                }
                else if (b_month.indexOf(month) > -1) {  
                    endDate = year + "-" + month + "-" + "31";
                }
                else if (month == "02") {  
                    if (year % 4 != 0)
                        endDate = year + "-" + month + "-" + "28";
                    else
                        endDate = year + "-" + month + "-" + "29";
                }
            }
            else if (value.indexOf("W") != -1) { 			 
                year = parseInt(value.substring(0, 4));
                week = parseInt(value.substring(6, 8));
                var days = week * 7;
                var f = year + "-01-01";
                var first = new Date(f).getDay(); 
                var offset = first == 1 ? 0 : first - 1; 
                var monthDays = (year % 4 == 0) ? [0, 31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] : [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
                for (month = 0; days > 0; month++) {
                    days -= monthDays[month];
                }
                month -= 1;
                days += monthDays[month] - offset; 
                //days = Math.abs(days);
                endDate = year + "/" + month + "/" + days;
                if (days - 6 > 0) 
                    days = days - 6;
                else {
                    days = 6 - days;
                    if (month - 1 < 1) {  
                        year -= 1;
                        month = 12;
                    }
                    else month -= 1;
                    days = monthDays[month] - days;
                }
                startDate = year + "/" + month + "/" + days;

                return startDate;
            }
        }
        function addDate(date, days) {
            var d = new Date(date);
            d.setDate(d.getDate() + days);
            var month = d.getMonth() + 1;
            var day = d.getDate();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            var val = d.getFullYear() + "/" + month + "/" + day;
            return val;
        }
        $("#Create").click(function () {
            var first = DateRange($("#week").val());  
            var tempTd = "";
            var firstDay = "";
            for (var i = 0; i < 7; i++) {
                var weekday = "";
                if (i == 0) {
                    weekday = "Mon";
                }
                else if (i == 1) {
                    weekday = "Tue";
                }
                else if (i == 2) {
                    weekday = "Wed";
                }
                else if (i == 3) {
                    weekday = "Thu";
                }
                else if (i == 4) {
                    weekday = "Fri";
                }
                else if (i == 5) {
                    weekday = "Sat";
                }
                else if (i == 6) {
                    weekday = "Sun";
                }
                firstDay = addDate(first, i + 7)
                var td = "<td><div>" + firstDay + "</div><p>" + weekday + "</p><input type='text' value='0' name='TimesheetCount' class='form-control' /></td>";
                tempTd += td;
            }
            var option = "";
            $("#tempSel option").each(function () {
                var val = $(this).val();
                var text = $(this).text();
                option += " <option value=" + val + ">" + text + "</option> ";
            });

            var select = "<td style='vertical-align: bottom;width:200px'><select class='btn btn-success dropdown-toggle form-control'>" + option + "</select></td>";
            var tr = "<tr>" + select + tempTd + " </tr>";
            $("#timecard").append(tr);
        });
        $("#submit").click(function () {
            var form = $(this).parents('form');
            var result = [];
            form.find('tbody tr').each(function () {
                var thisItem = $(this);
                var ProjectID = $(this).find("td:first").find("select:eq(0)").val();
                var detail = [];
                thisItem.find('td').each(function () {
                    var thistd = $(this);
                    var hasVal = thistd.find("p:eq(0)").text();
                    if (hasVal != "" && hasVal != null) {
                        detail.push({
                            Weekday: thistd.find("p:eq(0)").text(),
                            Date: thistd.find("div:eq(0)").text(),
                            TimesheetCount: thistd.find('input:eq(0)').val(),
                        })
                    }
                });
                if (ProjectID != "" && ProjectID != null && ProjectID != 0) {
                    result.push({
                        ProjectID: ProjectID,
                        ListTimeSheetDetails: detail
                    });
                }
            });
            var token = "Bearer " + sessionStorage.getItem("key");
            $.ajax({
                url: "/TimeCard/Create",
                type: 'post',
                dataType: 'json',
                data: { timeSheetCreateDto: result },
                cache: false,
                headers: {
                    "Authorization": token,
                    'Content-Type': 'application/x-www-form-urlencoded'   
                },
                success: function (res) {
                    alert("sucess");
                }
            });
            return false;
        });
        $("#logout").click(function () {
            $.ajax({
                url: "/TimeCard/Logout",
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    window.location.href = "https://localhost:5001";
                }
            });
        });
    });
</script>